.create-div {
  border-radius: 20px;
  margin-bottom: 10px;
  align-content: center;
  max-width: 300px;
  margin-left: 10px;
  gap: 20px;
}

.notes {
  margin-top: 68px;
}

option {
  cursor: pointer;
}
select {
  height: 40px;
  width: 249px;
  color: gray;
  font-size: large;
  text-align: center;
}
label {
  letter-spacing: 3px;
  margin-bottom: 3px;
}
input {
  width: 250px;
}
option {
  justify-content: left;
}
